/* Fonts for non-Windows operating systems */
@font-face {
    font-family: "Courier New";
    font-style: normal;
    font-weight: 400;
    src: local("Courier New"), url("/fnt/cour.ttf") format("truetype");
}

@font-face {
    font-family: "Courier New";
    font-style: normal;
    font-weight: 700;
    src: local("Courier New Bold"), url("/fnt/courbd.ttf") format("truetype");
}

@font-face {
    font-family: "Courier New";
    font-style: italic;
    font-weight: 700;
    src: local("Courier New Bold Italic"), url("/fnt/courbi.ttf") format("truetype");
}

@font-face {
    font-family: "Courier New";
    font-style: italic;
    font-weight: 400;
    src: local("Courier New Italic"), url("/fnt/couri.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 400;
    src: local("Verdana"), url("/fnt/verdana.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    src: local("Verdana Bold"), url("/fnt/verdanabd.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: italic;
    font-weight: 700;
    src: local("Verdana Bold Italic"), url("/fnt/verdanaz.ttf") format("truetype");
}

@font-face {
    font-family: "Verdana";
    font-style: italic;
    font-weight: 400;
    src: local("Verdana Italic"), url("/fnt/verdanai.ttf") format("truetype");
}

body {
    background: #535353;
    font-size: 14px;
    color: #000;
    overflow-y: scroll;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Courier New", courier, monospace;
}

.hid {
    display: none !important;
}

/* Japanese tends to look terrible bolded at small font sizes */
.nobold {
    font-weight: 400 !important;
}

#nav, #main {
    width: 950px;
    margin: 0 auto;
}

#nav {
    height: 20px;
    line-height: 20px;
    background: #5a5a5a;
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item, .nav-separator {
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.nav-separator {
    margin: 0 3px;
}

.nav-item:hover, .nav-item:focus {
    text-decoration: underline;
}

#main {
    background: #c6c6c6;
    padding: 7px 0 23px 0;
}

#content, .alert {
    width: 650px;
    margin: 0 auto;
}

.alert {
    background: #f00;
    color: #fff;
    font-weight: 700;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

#content {
    background: #eee;
    padding-bottom: 17px;
}

.section-title {
    padding: 20px 25px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.section-content {
    margin: 17px 25px 25px;
    text-align: center;
    font-weight: 700;
}

#section-nav {
    font-size: 24px;
    margin: 0 25px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.section-link {
    display: flex;
}

.section-prefix {
    margin-right: 10px;
}

.section-link:not(:last-child) {
    margin-bottom: 4px;
}

.spoiler {
    border: 1px dashed grey;
    padding: 1px;
    text-align: center;
}

.spoiler-content {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.section > img,
.section-content img {
    width: 100%;
    height: auto;
}

.section > img {
    image-rendering: crisp-edges;
}

@media screen and (max-width: 950px) {
    body {
        margin: 0;
    }

    #main {
        width: 100%;
        padding: 0;
    }

    #content,
    #nav,
    .alert {
        margin: 0;
        width: 100%;
    }

    #nav {
        height: 28px;
    }
    
    .nav-item,
    .nav-separator {
        line-height: 28px;
        font-size: 15px;
    }
    
    .section-title {
        padding: 20px 5px;
    }

    .section-content {
        margin: 17px 10px 25px;
    }

    #section-nav {
        margin: 0 10px;
    }
}