html {
    height: 100%;
}

body {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background: #000 url("/assets/img/bg.png") no-repeat;
    color: #fff;
}

body, input, button, textarea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: #b780ff !important;
}

a:hover,
a:focus {
    text-decoration: underline;
}

ul {
    padding-left: 25px;
}

input[type="text"],
input[type="number"],
textarea,
pre {
    appearance: none;
    background-color: #000;
    border: 1px solid #444;
    color: #fff;
    outline: 0 !important;
    margin-bottom: 4px;
    margin-left: 4px;
}

input[type="text"]:disabled,
input[type="text"][readonly],
input[type="number"]:disabled,
input[type="number"][readonly] {
    color: #999;
}

pre, textarea {
    min-height: 5em;
    word-wrap: anywhere;
    white-space: pre-line;
    margin-top: 4px;
    margin-left: 0;
}

img.viewable {
    cursor: zoom-in;
}

#root {
    width: 900px;
}

#header {
    height: 75px;
    padding: 17px 0;
    box-sizing: border-box;
}

#logo {
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 700;
    font-size: 32px;
}

#logo:hover,
#logo:focus {
    text-shadow: 0 0 10px white;
}

#nav {
    background: #000;
    padding: 8px;
}

#nav a {
    color: #fff !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 8px;
}

#noscript-alert {
    width: 900px;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 8px;
    background: #c00;
    font-weight: 700;
}

#image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65);
    text-align: center;
    display: none;
}

body.image-viewer-visible {
    overflow-y: hidden;
}

body.image-viewer-visible #image-viewer {
    display: block;
}

#image-viewer-aligner {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

#image-viewer-inner {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

#image-viewer-image {
    display: block;
    margin-bottom: 4px;
}

#image-viewer-link {
    color: #fff !important;
}

#content {
    margin: 8px 0;
}

#copyright {
    padding-bottom: 8px;
}

.box {
    background: #161422;
    padding: 8px;
    box-sizing: border-box;
}

.box > *,
.box img {
    max-width: 100%;
}

#two-col-container > div {
    display: inline-block;
}

#main-content {
    width: 900px;
}

#main-content > :first-child {
    margin-top: 0;
}

#main-content > :last-child {
    margin-bottom: 0;
}

#right-col,
#right-col #main-content {
    width: 642px;
}

#right-col #main-content {
    margin-bottom: 8px;
}

#left-col {
    background: #3e3b51;
    margin-right: 8px;
    width: 250px;
    float: left;
}

#right-col {
    vertical-align: top;
}

.header-small {
    font-weight: 700;
    text-transform: uppercase;
}

.subnav {
    margin: 0;
    margin-top: 6px;
    padding: 0;
    list-style: none;
}

.subnav-item.selected {
    font-weight: 700;
}

.date {
    color: #AAA;
    font-style: italic;
    margin-top: 4px;
}